---
import { isStringTextContainingNode } from "typescript";
import type { Usuario } from "../types";

interface ButtonProps {
  id: number;
  usuarios: Usuario[];
}

// Obtener las props con tipos
const { id, usuarios } = Astro.props as ButtonProps;

---
<a class="updateduenio flex-row justify-center texte-white cursor-pointer hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-70 hover:opacity-100" data-id={id}>
    <slot name="before" />
    <slot />
    <slot name="after" />
</a>

<!-- Modal -->
<div id="cambioDuenioModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50">
  <div class="flex items-center justify-center min-h-screen">
      <div class="bg-gray-900 p-5 rounded-lg shadow-lg w-4/6 md:w-1/4">
          <h2 class="text-lg font-bold">Cambiar Dueño</h2>
          <form id="formCambioDuenio" data-id={id}>
              <div class="flex flex-col pb-5">
                  <label for="nuevoDuenio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecciona un dueño:</label>
                  <select id="nuevoDuenio" name="nuevoDuenio" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    {usuarios.map((usuario) => (
                      <option value={usuario.id}>{usuario.nombre} {usuario.apellidos}</option>
                    ))}
                  </select>
              </div>
              <div class="flex flex-row justify-between">
                <button type="submit" class="confirm bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" data-id={id}>
                    Cambiar
                </button>
                <button type="button"  class="cancel bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" data-id={id}>
                    Cancelar
                </button>
              </div>
          </form>
      </div>
  </div>
</div>

<script>
 function toggleModal(modalId: string) {
    const modal = document.getElementById(modalId);
    if (modal) {
      modal.classList.toggle('hidden');
    }
  }


  document.addEventListener('click', (event) => {
      const target = event.target as HTMLElement;
      if (target.classList.contains('updateduenio')) {
        const autoId: string | null = target.getAttribute('data-id');
        const form: HTMLFormElement | null = document.getElementById('formCambioDuenio') as HTMLFormElement;
        if (form && autoId) {
          form.setAttribute('data-id', autoId);
          toggleModal('cambioDuenioModal');
        }
      }
      else if (target.classList.contains('cancel')) {
        toggleModal('cambioDuenioModal');
      }
      else if (target.classList.contains('confirm')) {
        const form: HTMLFormElement | null = document.getElementById('formCambioDuenio') as HTMLFormElement;
        const autoId: string | null = form?.getAttribute('data-id');
        if (form) {
          actualizarDuenio(parseInt(autoId!));
        }
      }
    });

  const formCambioDuenio: HTMLFormElement | null = document.getElementById('formCambioDuenio') as HTMLFormElement;

  async function actualizarDuenio(id: number) {
      const nuevoDuenio = formCambioDuenio?.nuevoDuenio.value;
      console.log(nuevoDuenio);
      try {
        const respuesta = await fetch(`http://127.0.0.1:8000/api/vehiculos/${id}`, {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ id_usuario: nuevoDuenio }),
        });
        if (!respuesta.ok) {
          throw new Error("Error al cambiar duenio el auto");
        }
  
        alert("Se ha cambiado el dueño del auto correctamente");
        
        location.reload();
      } catch (error) {
        console.error("Hubo un error al cambiar duenio del auto:", error);
      }
    };

</script>
